.point-line {
    position: fixed;
    top: 47px;
    left: 0;
    right: 0;
    align-items: center;
    width: 360px;
    margin: 0 auto;
    z-index: 1000;
}

.shouthing-list {
    position: relative;
    top: 86px;
    margin: 0 auto;
    display: block;
}

.yeon {
    position: fixed;
    bottom: 66px;
    margin: 0 auto;
    display: block;
}